
language: php

php:
  - hhvm
  - 5.6
  - 7.0

env:
  - EXT_SECP256K1=0 EXT_CONSENSUS=0
  - EXT_SECP256K1=1 EXT_CONSENSUS=0
  - EXT_SECP256K1=0 EXT_CONSENSUS=1
  - EXT_CONSENSUS=1 EXT_SECP256K1=1

matrix:
  include:
    - php: 7.0
      env: CODE_STYLE=1
    - php: 7.0
      env: EXAMPLES=1
    - php: 7.0
      env: COVERAGE=1
  exclude:
    - php: hhvm
      env: EXT_SECP256K1=1 EXT_CONSENSUS=0
    - php: hhvm
      env: EXT_SECP256K1=0 EXT_CONSENSUS=1
    - php: hhvm
      env: EXT_CONSENSUS=1 EXT_SECP256K1=1

install:
    - |
        sh -c 'if [ "$EXT_SECP256K1" = "1" ]; then \
            git clone https://github.com/bitcoin/secp256k1.git \
            && cd secp256k1 \
            && ./autogen.sh && ./configure --disable-jni --enable-module-recovery --enable-module-ecdh --enable-module-schnorr --enable-experimental && make && sudo make install \
            && cd ..; fi'
    - |
        sh -c 'if [ "$EXT_SECP256K1" = "1" ] && [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then \
              git clone -b v0.0 https://github.com/Bit-Wasp/secp256k1-php \
                       && cd secp256k1-php/secp256k1 \
                       && phpize && ./configure && make && sudo make install \
                       && cd ../..; fi';
    - |
        sh -c 'if [ "$EXT_SECP256K1" = "1" ] && [ "$TRAVIS_PHP_VERSION" = "7.0" ]; then \
             git clone -b v0.1 https://github.com/Bit-Wasp/secp256k1-php \
                      && cd secp256k1-php/secp256k1 \
                      && phpize && ./configure && make && sudo make install \
                      && cd ../..; fi';
    - |
        sh -c 'if [ "$EXT_CONSENSUS" = "1" ]; then \
         wget https://bitcoin.org/bin/bitcoin-core-0.13.1/bitcoin-0.13.1-x86_64-linux-gnu.tar.gz && \
         tar xvf bitcoin-0.13.1-x86_64-linux-gnu.tar.gz && \
         cd bitcoin-0.13.1 && \
         sudo cp include/bitcoinconsensus.h /usr/include && \
         sudo cp lib/libbitcoinconsensus.so.0.0.0 /usr/lib && \
         sudo ln -s /usr/lib/libbitcoinconsensus.so.0.0.0 /usr/lib/libbitcoinconsensus.so && \
         sudo ln -s /usr/lib/libbitcoinconsensus.so.0.0.0 /usr/lib/libbitcoinconsensus.so.0 && \
         cd .. && \
          git clone https://github.com/Bit-Wasp/bitcoinconsensus-php && \
                cd bitcoinconsensus-php/bitcoinconsensus && \
                phpize && ./configure --with-bitcoinconsensus && make && sudo make install && \
                cd ../..; fi';
    - composer update

script:
  - export EXT_PHP=""
  - if [ "$EXT_SECP256K1" = "1" ]; then export EXT_PHP="$EXT_PHP -dextension=secp256k1.so"; fi
  - if [ "$EXT_CONSENSUS" = "1" ]; then export EXT_PHP="$EXT_PHP -dextension=bitcoinconsensus.so"; fi
  - export PHPUNIT=""
  - if [ "$COVERAGE" = "1" ]; then export PHPUNIT="$PHPUNIT --coverage-clover build/logs/clover.xml"; fi
  - php $EXT_PHP vendor/bin/phpunit $PHPUNIT
  - if [ "$CODE_STYLE" = "1" ]; then php vendor/bin/phpcs -n --standard=PSR1,PSR2 --report=full src/ tests/; fi
  - if [ "$EXAMPLES" = "1" ]; then for f in ./examples/*.php; do echo $f; php $f; if [ $? -ne  0 ]; then exit 1; fi; done; fi

after_script:
   - sh -c 'if [ "$COVERAGE" = "1" ]; then \
      wget https://scrutinizer-ci.com/ocular.phar && \
      php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml; fi;'
